{% extends 'base.html' %}

{% load static %}

{% block head_title %}- Reset password{% endblock %}

{% block content %}

    <div class="mdl-grid bc-site-grey-background bc-spacer">
        <div class="mdl-layout-spacer"></div>
    </div>

    <!-- Inner Grid  -->

    <div class="mdl-grid bc-site-grey-background">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--5-col mdl-shadow--2dp bc-about-pages-template-background">

            <!-- Section 1 Mission  -->
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <h4 class="bc-about-pages-title bc-text-center">- Reset password -</h4>
                </div>

                {% if validlink %}

                    <div class="mdl-cell mdl-cell--12-col bc-text-center">
                        Please enter your new password twice so we can verify you typed it in correctly.
                    </div>

                    {% if form.non_field_errors %}
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="bc-form-errors-alert" style="width: 100%;">{{ form.non_field_errors }}</div>
                        </div>
                    {% endif %}

                    <div class="mdl-grid">
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-cell mdl-cell--9-col bc-text-center">
                            <form id="password_change" method="POST">
                                {% csrf_token %}

                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="password" name="new_password1"/>
                                    <label class="mdl-textfield__label bc-about-pages-para" for="new_password1">Your New
                                        Password:</label>
                                </div>
                                {% if form.new_password1.errors %}
                                    <span class="bc-form-errors-alert">{{ form.new_password1.errors }}</span>
                                {% endif %}

                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="password" name="new_password2"/>
                                    <label class="mdl-textfield__label bc-about-pages-para" for="new_password2">Your New
                                        Password Once Again:</label>
                                </div>
                                {% if form.new_password2.errors %}
                                    <span class="bc-form-errors-alert">{{ form.new_password2.errors }}</span>
                                {% endif %}

                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--12-col bc-text-center">
                                        <button type="submit" value="submit" name="password_reset"
                                                class="mdl-button mdl-js-button mdl-button--raised">
                                            Change Password
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                    </div>

                {% else %}
                    <div class="mdl-cell mdl-cell--12-col bc-text-center">
                        The password reset link was invalid, possibly because it has already been used. Please request a
                        new password reset.
                    </div>
                {% endif %}

            </div>

            <br>
            <hr>

        </div>
        <div class="mdl-layout-spacer"></div>
    </div>
    <!--End Inner Grid  -->

    <div class="mdl-grid bc-site-grey-background bc-spacer">
        <div class="mdl-layout-spacer"></div>
    </div>

{% endblock %}
