{% extends 'base.html' %}

{% load static %}

{% block head_title %}- Password change successful{% endblock %}

{% block content %}

    <div class="mdl-grid bc-site-grey-background bc-spacer">
        <div class="mdl-layout-spacer"></div>
    </div>

    <!-- Inner Grid  -->

    <div class="mdl-grid bc-site-grey-background">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--5-col mdl-shadow--2dp bc-about-pages-template-background">

            <!-- Section 1 Mission  -->
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <h4 class="bc-about-pages-title bc-text-center">- Change Password -</h4>
                </div>


                <div class="mdl-cell mdl-cell--12-col bc-text-center">
                    You successfully changed your password!
                </div>

                <div class="mdl-cell mdl-cell--12-col bc-text-center">
                    <a href="{% url 'accounts:myaccount' %}">Back to account main page</a>
                </div>



            </div>

            <br><hr>

        </div>
        <div class="mdl-layout-spacer"></div>
    </div>
    <!--End Inner Grid  -->

    <div class="mdl-grid bc-site-grey-background bc-spacer">
        <div class="mdl-layout-spacer"></div>
    </div>

{% endblock %}
