{% extends 'base.html' %}

{% load static %}

{% block head_title %}- Sign up{% endblock %}

{% block content %}

    <div class="mdl-grid bc-site-grey-background bc-spacer">
        <div class="mdl-layout-spacer"></div>
    </div>

    <!-- Inner Grid  -->

    <div class="mdl-grid bc-site-grey-background">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--5-col mdl-shadow--2dp bc-about-pages-template-background">

            <!-- Section 1 Mission  -->
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <h4 class="bc-about-pages-title bc-text-center">- Sign up -</h4>
                </div>

                {% if form.errors %}
                <div class="mdl-cell mdl-cell--12-col">
                    {{ form.errors }}
                </div>
                {% endif %}

                <div class="mdl-grid">
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--9-col bc-text-center">
                        <form id="signup" method="POST">
                            {% csrf_token %}

                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" name="first_name"/>
                                <label class="mdl-textfield__label bc-about-pages-para" for="first_name">Username</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" name="last_name"/>
                                <label class="mdl-textfield__label bc-about-pages-para" for="last_name">Username</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="email" name="email"/>
                                <label class="mdl-textfield__label bc-about-pages-para" for="email">Username</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" name="username"/>
                                <label class="mdl-textfield__label bc-about-pages-para" for="username">Username</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="password" name="password1"/>
                                <label class="mdl-textfield__label bc-about-pages-para" for="password1">Username</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="password" name="password2"/>
                                <label class="mdl-textfield__label bc-about-pages-para" for="password2">Username</label>
                            </div>

                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col bc-text-center">
                                    <button type="submit" value="submit" name="signup" class="mdl-button mdl-js-button mdl-button--raised">
                                        Sign up!
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                </div>
            </div>

            <br><hr>

            <div class="mdl-grid">
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-cell mdl-cell--8-col">
                    <h4 class='bc-about-pages-para bc-text-center'>Already Signed Up?<a class='bc-about-pages-para bc-nounderline bc-signup' href="{% url 'accounts:login' %}">Login here!</a></h4>
                </div>
                <div class="mdl-layout-spacer"></div>
            </div>
        </div>
        <div class="mdl-layout-spacer"></div>
    </div>
    <!--End Inner Grid  -->

    <div class="mdl-grid bc-site-grey-background bc-spacer">
        <div class="mdl-layout-spacer"></div>
    </div>

{% endblock %}
