<!-- Footer -->

<!-- add this to ase page later-->
  {% load static %}

<div class="mdl-grid bc-footer-background">
<div class="mdl-layout-spacer">  </div>
  <div class="mdl-cell mdl-cell--1-col bc-text-center mdl-cell--middle">
    <span><a href="https://www.facebook.com/Blackcrowtours/"><img class="bc-standard-img-icons" src="{% static 'icons/fb.fw.png' %}" alt=""></a></span>
  </div>
  <div class="mdl-cell mdl-cell--1-col bc-text-center mdl-cell--middle">
    <span><a href="https://www.instagram.com/blackcrowtours/"><img class="bc-standard-img-icons" src="{% static 'icons/insta.fw.png' %}" alt=""></a></span>
  </div>
  <div class="mdl-cell mdl-cell--1-col bc-text-center mdl-cell--middle">
    <span><a href="{% url 'faqs' %}"><img class="bc-standard-img-icons" src="{% static 'icons/faq.fw.png' %}" alt=""></a></span>
  </div>
  <div class="mdl-cell mdl-cell--1-col bc-text-center mdl-cell--middle">
    <span><a href="mailto:admin@blackcrowtours.com"><img class="bc-standard-img-icons" src="{% static 'icons/mail.fw.png' %}" alt=""></a></span>
  </div>
  <div class="mdl-layout-spacer"></div>
</div> <!--End Footer -->

<!-- copyright -->
<div class="mdl-grid bc-site-dark-background">
<div class="mdl-layout-spacer">  </div>
<h4 class="bc-home-icon-text">Copyright 2017 Black Crow Tours</h4>
  <div class="mdl-layout-spacer"></div>
</div>

<script type="text/javascript">
	var trackcmp_email = '';
	var trackcmp = document.createElement("script");
	trackcmp.async = true;
	trackcmp.type = 'text/javascript';
	trackcmp.src = '//trackcmp.net/visit?actid=89326834&e='+encodeURIComponent(trackcmp_email)+'&r='+encodeURIComponent(document.referrer)+'&u='+encodeURIComponent(window.location.href);
	var trackcmp_s = document.getElementsByTagName("script");
	if (trackcmp_s.length) {
		trackcmp_s[0].parentNode.appendChild(trackcmp);
	} else {
		var trackcmp_h = document.getElementsByTagName("head");
		trackcmp_h.length && trackcmp_h[0].appendChild(trackcmp);
	}
</script>
