{% extends 'base.html' %}

{% load static %}

{% block head_title %}- 403 Error - Permission denied{% endblock %}

{% block content %}

    <div class="mdl-grid bc-site-grey-background">
        <div class="mdl-layout-spacer"></div>

        <div class="mdl-cell mdl-cell--8-col">
            <div>
                <h1 class="bc-text-center">Sorry, but you lack of permissions to look this page!</h1>
            </div>
        </div>

        <div class="mdl-layout-spacer"></div>
    </div>

{% endblock %}
