{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="mdl-grid bc-site-grey-background bc-spacer">
        <div class="mdl-layout-spacer"></div>
    </div>

    <!-- Inner Grid  -->
    <div class="mdl-grid bc-site-grey-background">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--5-col mdl-shadow--2dp bc-about-pages-template-background">

            <!-- Section 1 Mission  -->

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <h4 class="bc-about-pages-title bc-text-center">- Update your First and Last Name -</h4>
                </div>

                {% if form.errors %}
                    <div class="mdl-cell mdl-cell--12-col">
                        {{ form.errors }}
                    </div>
                {% endif %}

                <div class="mdl-grid">
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--9-col">
                        <form method="POST">
                            {% csrf_token %}

                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="id_first_name" name="first_name"
                                       value="{{ request.user.first_name }}" required/>
                                <label class="mdl-textfield__label bc-about-pages-para" for="first_name"></label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="id_last_name" name="last_name"
                                       value="{{ request.user.last_name }}" required/>
                                <label class="mdl-textfield__label bc-about-pages-para" for="last_name"></label>
                            </div>

                            <div class="mdl-grid">
                                <div class="mdl-layout-spacer"></div>
                                <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-phone">
                                    <button type="submit" value="Update"
                                            class="mdl-button mdl-js-button mdl-button--raised">
                                        UPDATE
                                    </button>
                                </div>
                                <div class="mdl-layout-spacer"></div>
                            </div>
                        </form>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                </div>
            </div>

            <br>
            <hr>

        </div>
        <div class="mdl-layout-spacer"></div>
    </div>
    <!--End Inner Grid  -->

    <div class="mdl-grid bc-site-grey-background bc-spacer">
        <div class="mdl-layout-spacer"></div>
    </div>

{% endblock %}
