{% extends 'base.html' %}

{% load static %}

{% block head_title %}- What's Included?{% endblock %}

{% block content %}

    <!-- Section 2 Icons and Descriptions  -->
    <div class="mdl-grid bc-included-hero">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--11-col mdl-cell--middle">
            <div class="mdl-grid">
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--middle">
                    <h4 class="bc-included-heading">NO OTHERS INCLUDE AS MUCH
                        AS WE DO AT ONE LOW PRICE: </h4>
                    <h4 class="bc-included-subheading">
                        Round-trip flights, travel between cities, full-time
                        tour director, hand-picked accommodations,
                        guided sightseeing, free breakfast daily, a welcome
                        mixer and farewell dinner.
                        <br><br>Your entire trip is backed by a low price guarantee. </h4>
                </div>
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>
    </div>

    <div class="mdl-grid bc-included-icons">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--10-col">
            <div class="mdl-grid">
                <!-- Icon 1 -->
                <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--11-col bc-text-center">
                            <img class="bc-standard-img-icons" src="{% static 'icons/person2.png' %}" alt="">
                            <h4 class="bc-included-icon-heading bc-no-botmargin bc-home-icon-margin1 bc-caps">
                                Personalized Groups</h4>
                        </div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">
                            <h4 class="bc-included-icon-text bc-no-margin">Our tours are for young adults <strong>ages
                                21-35</strong> and are limited to a <strong>MAX</strong> of 20 people. <br><br><span
                                    class="bc-underline">Our trips focus on:</span><strong><br> - Incredible local
                                experiences<br> - Great nightlife<br> - Safe Locations with friendly people</strong>
                            </h4>
                        </div>
                    </div>
                </div>

                <!-- Icon 2 -->
                <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--11-col bc-text-center">
                            <img class="bc-standard-img-icons" src="{% static 'icons/guide.png' %}" alt="">
                            <h4 class="bc-included-icon-heading bc-no-botmargin bc-home-icon-margin1 bc-caps">Full-time
                                Guide</h4>
                        </div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--11-col">
                            <h4 class="bc-included-icon-text bc-no-margin">If the fear of traveling alone is <strong>holding
                                you back</strong> from doing the things you really want to... then please let us help.
                                <br><br> If you've ever thought "I want to travel, but with a group of friends... not a
                                tour". Then Black Crow Tours is for you. We are built by backpackers, designed with
                                <strong>YOU</strong> in mind.</h4>
                        </div>
                    </div>
                </div>

                <!-- Icon 3 -->
                <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--11-col bc-text-center">
                            <img class="bc-standard-img-icons" src="{% static 'icons/air.png' %}" alt="">
                            <h4 class="bc-included-icon-heading bc-no-botmargin bc-home-icon-margin1 bc-caps">Airfare
                                and Transfers</h4>
                        </div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--11-col">
                            <h4 class="bc-included-icon-text bc-no-margin">Black Crow Tours wants to <strong>make travel
                                easy</strong> and accessible to everyone.<br><br> <span class="bc-underline">We make your trip easier with:</span><strong><br>
                                - All Flights and Transfers Included <br> - Tour Director and Local Guides <br> - Plenty
                                of Pre-Trip Support and Travel Advice</strong></h4>
                        </div>
                    </div>
                </div>

                <!-- Icon 4 -->
                <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--11-col bc-text-center">
                            <img class="bc-standard-img-icons" src="{% static 'icons/accom.png' %}" alt="">
                            <h4 class="bc-included-icon-heading bc-caps bc-no-botmargin bc-home-icon-margin2">
                                Hand-Picked Accommodations</h4>
                        </div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">
                            <h4 class="bc-included-icon-text bc-no-margin"><span class="bc-underline">Some common myths we hear are:</span><br>
                                'Travel sounds gross, dirt and bugs', <br> or 'I heard people get robbed while
                                traveling!'" <br><br> Well truth is, our accommodations are <strong>always</strong> in
                                the <strong>best</strong>, <strong>nicest</strong>, and <strong>cleanest</strong>
                                locations.
                                They are hand picked by our Tours Directors to give you the <strong>BEST</strong>
                                possible experience!</h4>
                        </div>
                    </div>
                </div>

                <!-- Icon 5 -->
                <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--11-col bc-text-center">
                            <img class="bc-standard-img-icons" src="{% static 'icons/local.png' %}" alt="">
                            <h4 class="bc-included-icon-heading bc-caps bc-no-botmargin bc-home-icon-margin2">Local
                                Experiences</h4>
                        </div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">
                            <h4 class="bc-included-icon-text bc-no-margin"><span class="bc-underline">Some common myths we hear are:</span><br>
                                'Travel sounds gross, dirt and bugs', <br> or 'I heard people get robbed while
                                traveling!'" <br><br> Well truth is, our accommodations are <strong>always</strong> in
                                the <strong>best</strong>, <strong>nicest</strong>, and <strong>cleanest</strong>
                                locations.
                                They are hand picked by our Tours Directors to give you the <strong>BEST</strong>
                                possible experience!</h4>
                        </div>
                    </div>
                </div>

                <!-- Icon 6 -->
                <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--11-col bc-text-center">
                            <img class="bc-standard-img-icons" src="{% static 'icons/cool.png' %}" alt="">
                            <h4 class="bc-included-icon-heading bc-caps bc-no-botmargin bc-home-icon-margin2">Cool
                                Surprises</h4>
                        </div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">
                            <h4 class="bc-included-icon-text bc-no-margin"><span class="bc-underline">Let me preface this by telling you something you already know… <br>True <strong>once in a lifetime</strong> experiences are ones that are <strong>unexpected and unforgetable</strong>.
                          <br><br> We want to keep these moments <strong>unexpected</strong> and give you a chance to be truly <strong>blown away!</strong> <br>
                           <br>We've been traveling for <strong>YEARS</strong> and have spent <strong>THOUSANDS</strong> to make these trip's truly special!
                           With Black Crow Tours, you'll get to experiences these once in a lifetime moments <strong>without spending all that time or money.</strong>
                            </h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="mdl-layout-spacer"></div>
    </div>


    <div class="mdl-grid bc-included-solo">
        <div class="mdl-cell mdl-cell--12-col">

            <div class="mdl-grid">
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-cell mdl-cell--9-col mdl-cell--top">
                    <h4 class="bc-included-solo-heading">Going Solo?</h4>
                </div>
                <div class="mdl-layout-spacer"></div>
            </div>

            <div class="mdl-grid">
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-cell mdl-cell--9-col mdl-cell--bottom">
                    <h4 class="bc-included-solo-text">
                        The purpose of travel is to discover new things about yourself, meet new friends,
                        and see the unknown. Most solo travelers find themselves frustrated with their
                        friends doing the same things over and over... Blackcrow is a great way to avoid
                        the fear of traveling alone, without spending a fortune. So while you may sign up
                        alone, you won't be for long...

                        <br><br>Each trip is shared in advance on Facebook giving you a chance to see everyone
                        who's going. (Your guide will also be a part of the event group), chat a bit, and share
                        the things you're excited about!

                        <br><br>Making a ton of new friends has never been easier!</h4>
                </div>
                <div class="mdl-layout-spacer"></div>
            </div>


        </div>
    </div>




{% endblock %}
