{% extends 'base.html' %}

{% load static %}

{% block head_title %}- What to Pack?{% endblock %}

{% block content %}

<!-- Main grid -->
     <div class="mdl-grid bc-packing-hero">
       <div class="mdl-layout-spacer">  </div>
       <div class="mdl-cell mdl-cell--10-col mdl-cell--middle">
         <h4 class="bc-packing-heading">WHILE WE CAN'T TELL YOU EXACTLY WHAT TO PACK,
           WE CAN HELP GIVE SOME SUGGESTIONS.</h4>
           <br><br><br><br><br><br><br><br>
           <h4 class="bc-packing-subheading">Sometime's it's hard to picture just what you're going to need. Together with the help of our guides,
          <br>we put together a sample list that can help for just about anywhere you go! Enjoy!</h4>
       </div>
       <div class="mdl-layout-spacer">  </div>
     </div>

     <div class="mdl-grid bc-packing-items">
       <div class="mdl-cell--12-col">
         <div class="mdl-grid">
           <div class="mdl-layout-spacer">  </div>
           <div class="mdl-cell mdl-cell--8-col mdl-cell--middle">
             <h4 class="bc-packing-items-heading">THINGS WE THOUGHT ABOUT: </h4>
           </div>
           <div class="mdl-layout-spacer">  </div>
        </div>

        <div class="mdl-grid">
          <div class="mdl-layout-spacer">  </div>
          <div class="mdl-cell mdl-cell--8-col mdl-cell--middle">
            <h4 class="bc-packing-items-text">- Items focus on Versitility. So to make the most of your trip (Getting into clubs, bars, etc..) you'll
            want to look good, but also be comfortable.

            <br><br>- Items focus on carrying weight. The last thing you want is tocarry a huge suitcase around
            cobblestone streets.

            <br><br>- Items account for temperature changes and comfort.

            <br><br> The following guide is based on what to wear, in general, for Europe. It focuses on fashion and a
            temperature of 40-70's F. However, you can easily apply this advice to anywhere in the world...
            Just make sure to account for the weather. </h4>
          </div>
          <div class="mdl-layout-spacer">  </div>
       </div>

       <div class="mdl-grid">
         <div class="mdl-layout-spacer">  </div>
         <div class="mdl-cell mdl-cell--4-col mdl-cell--middle">
           <h4 class="bc-packing-guide-heading">BLACK CROW PACKING GUIDE</h4>
         </div>
         <div class="mdl-layout-spacer">  </div>
      </div>

<!-- packing 1 -->
      <div class="mdl-grid">
        <div class="mdl-layout-spacer">  </div>
        <div class="mdl-cell mdl-cell--5-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
          <img class="bc-standard-img" src="{% static 'images/packing1.jpg' %}" alt="">
        </div>
        <div class="mdl-layout-spacer">  </div>
        <div class="mdl-cell mdl-cell--5-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
          <h4 class="bc-packing-items-text"><span class="bc-packing-items-subheading">
             - 2-3 pants</span>
            <br>2 jeans, 1 chinos. You'll wear jeans almost everyday, so try to get a nice pair.

            <span class="bc-packing-items-subheading">
            <br><br>- 5-6 pairs underwear and socks </span>
            <br>The first thing to go bad (smell wise) is always underwear and socks... aim for more pairs.

           <span class="bc-packing-items-subheading">
            <br><br>- 4-5 tee shirts</span>
            <br>Sub 2 tees for 2 long sleeve shirts in fall-winter. If traveling for a while, aim for shirts without logos or patterns. It will make it less obviously that you're washing and reusing the shirts in photos.

            <span class="bc-packing-items-subheading">
            <br><br>- 2 dress shirts </span>
            <br>Wrinkle free, or have patterns that hide wrinkles well. For women, a nice dress or two will work.

            <span class="bc-packing-items-subheading">
            <br><br>- 1 belt </span>

            <span class="bc-packing-items-subheading">
            <br><br>- 2 shorts</span>
            <br>In spring-summer, different colors. Men avoid cargo shorts.
          </span>

          <span class="bc-packing-items-subheading">
          <br><br>- 2 shoes / 1 flip flops</span>
          <br> Flip Flops are really only for the beach, but can be used alround the hotels as well.

          <span class="bc-packing-items-subheading">
          <br><br>- 1 hoodie</span>
          <br>GREAT for a cold plane ride!

         </h4>
        </div>
        <div class="mdl-layout-spacer">  </div>
     </div>

<!-- packing 2 mobile -->
     <div class="mdl-grid mdl-cell--hide-desktop">
       <div class="mdl-layout-spacer">  </div>
       <div class="mdl-cell mdl-cell--5-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
         <img class="bc-standard-img" src="{% static 'images/packing2.jpg' %}" alt="">
       </div>
       <div class="mdl-layout-spacer">  </div>
       <div class="mdl-cell mdl-cell--5-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
         <h4 class="bc-packing-items-text">
           <span class="bc-packing-items-subheading">
            - Toiletries</span>
           <br>In a toiletries bag. Waterproof with a little hook to hang it. If you forget something, don't worry... very easy to buy new toiletries.

           <span class="bc-packing-items-subheading">
           <br><br>- Medications </span>
           <br>If needed - in toiletries bag

           <span class="bc-packing-items-subheading">
           <br><br>- Quick dry fold up towel </span>
           <br>While most places will most likely have towels, the quick dry towel helps in a lot of other situations.

           <span class="bc-packing-items-subheading">
           <br><br>- Travel lock</span>
           <br>You probably won't need this, but better safe than sorry.

          <span class="bc-packing-items-subheading">
           <br><br>- Day bag</span>
           <br>Small bag to carry water, snacks, and light daytime stuff.

          <span class="bc-packing-items-subheading">
           <br><br>- Rain coat or poncho or super small umbrella</span>
           <br>Have in day bag.

           <span class="bc-packing-items-subheading">
           <br><br>- 1 jacket</span>
           <br>In fall-winter
          </h4>
       </div>
       <div class="mdl-layout-spacer">  </div>
    </div>

    <!-- packing 2 desktop -->
         <div class="mdl-grid mdl-cell--hide-phone mdl-cell--hide-tablet">
           <div class="mdl-layout-spacer">  </div>
           <div class="mdl-cell mdl-cell--5-col mdl-cell--hide-phone mdl-cell--hide-tablet">
             <h4 class="bc-packing-items-text">
               <span class="bc-packing-items-subheading">
                - Toiletries</span>
               <br>In a toiletries bag. Waterproof with a little hook to hang it. If you forget something, don't worry... very easy to buy new toiletries.

               <span class="bc-packing-items-subheading">
               <br><br>- Medications </span>
               <br>If needed - in toiletries bag

               <span class="bc-packing-items-subheading">
               <br><br>- Quick dry fold up towel </span>
               <br>While most places will most likely have towels, the quick dry towel helps in a lot of other situations.

               <span class="bc-packing-items-subheading">
               <br><br>- Travel lock</span>
               <br>You probably won't need this, but better safe than sorry.

              <span class="bc-packing-items-subheading">
               <br><br>- Day bag</span>
               <br>Small bag to carry water, snacks, and light daytime stuff.

              <span class="bc-packing-items-subheading">
               <br><br>- Rain coat or poncho or super small umbrella</span>
               <br>Have in day bag.

               <span class="bc-packing-items-subheading">
               <br><br>- 1 jacket</span>
               <br>In fall-winter
              </h4>
           </div>
           <div class="mdl-layout-spacer">  </div>
           <div class="mdl-cell mdl-cell--5-col mdl-cell--hide-phone mdl-cell--hide-tablet">
             <img class="bc-standard-img" src="{% static 'images/packing2.jpg' %}" alt="">
           </div>
           <div class="mdl-layout-spacer">  </div>
        </div>

<!-- packing 3 -->
    <div class="mdl-grid">
      <div class="mdl-layout-spacer">  </div>
      <div class="mdl-cell mdl-cell--5-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
        <img class="bc-standard-img" src="{% static 'images/packing3.jpg' %}" alt="">
      </div>
      <div class="mdl-layout-spacer">  </div>
      <div class="mdl-cell mdl-cell--5-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
        <h4 class="bc-packing-items-text">
          <span class="bc-packing-items-subheading">
            - Passport </span>
          <br>With back up passport photos (in case you lose it... please don't lose it)

          <span class="bc-packing-items-subheading">
          <br><br>- Phone charger converter</span>
          <br>Check the country and see what type of outlets they use. If you forget, no worries... airports always have converters.

          <span class="bc-packing-items-subheading">
          <br><br>- Battery pack</span>
          <br>Can be helpful. It's nice to know that you don't have to worry about finding an outlet.

          <span class="bc-packing-items-subheading">
          <br><br>- Water bottle or camel pack</span>
          <br>In day pack. Will avoid paying a TON for bottled water... it really adds up.

          <span class="bc-packing-items-subheading">
          <br><br>- Camera</span>
          <br>or GoPro or even a phone usually works fine.

          <span class="bc-packing-items-subheading">
          <br><br>- Headphones and ear plugs</span>
          <br>Ear plugs are a lifesaver at night when the random snooring happens.

          <span class="bc-packing-items-subheading">
          <br><br>- 1 book (read it and leave it)</span>
          <br>A common backpacker practice is book exchanging. Can be a lot of fun.

          <span class="bc-packing-items-subheading">
          <br><br>- Airplane head pillow</span>
          <br>Helps make the flights more comfortable.
 </h4>
      </div>
      <div class="mdl-layout-spacer">  </div>
   </div>


      </div>
     </div>

{% endblock %}
