{% extends 'base.html' %}

{% load static %}

{% block head_title %}- Premium Membership{% endblock %}

{% block content %}

    <div class="mdl-grid bc-site-grey-background">
        <div class="mdl-layout-spacer"></div>

        <div class="mdl-cell mdl-cell--8-col">
            <h3 class="bc-text-center">Premium membership</h3>
            It's very cool to be premium, because:
            <br>
            1) <br>
            2) <br>
            If you ready to pay {{ premium_membership_price }}$ for LIFETIME premium membership, go <a
                href="{% url 'accounts:membership' %}">here</a>
        </div>

        <div class="mdl-layout-spacer"></div>
    </div>

{% endblock %}
