{% extends 'base.html' %}
{% block head_title %}- Accommodations{% endblock %}
{% block content %}

{% load static %}

<!-- hero -->
<div class="mdl-grid bc-accom-hero">
    <div class="mdl-layout-spacer">  </div>
      <div class="mdl-cell mdl-cell--10-col mdl-cell--middle">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--8-col">
      <h4 class="bc-accom-heading">AT BLACK CROW, WE'LL BE
            STAYING IN A MIXTURE OF
            BOUTIQUE HOSTELS, HOTELS,
            AND CUSTOM ARANGED
            MANSIONS.</h4>

            <br><br><br><br>

            <h4 class="bc-accom-subheading">All to give good variation throughout the trip,
              which is ultimately decided by the tour director
              to create the best and most unique trip possible.

              <br><br>Some people might be confused as to what is
              included or what the facilities may look like,
              so we want to help!</h4>
            </div>
          <div class="mdl-layout-spacer">  </div>
        </div>
      </div>
    <div class="mdl-layout-spacer">  </div>
</div>

    <!-- accom include -->
     <div class="mdl-grid bc-accom-background">
          <div class="mdl-layout-spacer">  </div>

           <div class="mdl-cell mdl-cell--10-col">

             <div class="mdl-grid">
               <div class="mdl-cell mdl-cell--12-col">

                 <div class="mdl-grid">
                   <div class="mdl-cell mdl-cell--12-col">
                     <h4 class="bc-accom-sub-title bc-text-center">Accommodations include:</h4>
                   </div>
                 </div>
               </div>
             </div>

             <!-- features -->
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
              <h4 class="bc-accom-text bc-no-margin">
                 <strong> - 24 Hour Reception </strong>
                 <br><strong> - 24 Hour Security (No Curfew!) </strong>
                 <br> - Bars (Attached)
                 <br> - Games (Board games, pool tables, etc...)
                 <br><strong> - Great locations! (Extremely Central) </strong>
                 <br> - At least one free meal or welcome drink
                 <br> - Cafes and Guest Kitchen
                 <br> - Common Rooms
                 <br> - Free City Maps
                 <br><strong> - Free Internet Access / WiFi </strong>
                 <br> - Hair Dryers For Hire
                 <br> - Hot Showers
                 <br> - Housekeeping
                 <br> - Key Card Access
               </h4>
             </div>

             <div class="mdl-cell mdl-cell--4-col">
              <h4 class="bc-accom-text bc-no-margin">
                  <strong> - 24 Hour Reception </strong>
                  <br><strong> - 24 Hour Security (No Curfew!) </strong>
                  <br> - Bars (Attached)
                  <br> - Games (Board games, pool tables, etc...)
                  <br><strong> - Great locations! (Extremely Central) </strong>
                  <br> - At least one free meal or welcome drink
                  <br> - Cafes and Guest Kitchen
                  <br> - Common Rooms
                  <br> - Free City Maps
                  <br><strong> - Free Internet Access / WiFi </strong>
                  <br> - Hair Dryers For Hire
                  <br> - Hot Showers
                  <br> - Housekeeping
                  <br> - Key Card Access
                </h4>
              </div>

              <div class="mdl-cell mdl-cell--4-col">
                   <h4 class="bc-accom-text bc-no-margin">
                     <strong> - Laundry Facilities </strong>
                     <br><strong> - Linen and Pillow Included </strong>
                     <br><strong> - Individual Security Lockers </strong>
                     <br> - Luggage Storage
                     <br> - Reading Lights
                     <br> <strong>- Rooming ONLY with our group </strong>
                     <br> - Travel Advice Desk
                     <br> - Towels for hire
                     <br> - Some include Pools, Spa's, and Sauna's
                     <br> - Fitness centers
                     <br> - And many more features...
                   </h4>
                 </div>
            </div>

<br><br>
            <!-- examples -->
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col">

                <div class="mdl-grid">
                  <div class="mdl-cell mdl-cell--12-col">
                    <h4 class="bc-accom-sub-title bc-text-center">  CHECK OUT SOME EXAMPLES BELOW:</h4>
                  </div>
                </div>
              </div>
            </div>

        </div>
        <div class="mdl-layout-spacer">  </div>
      </div>


          <!-- Desktop -->
                <!-- Left Accommodations -->
               <div class="mdl-grid mdl-cell--hide-phone mdl-cell--hide-tablet">
                     <div class="mdl-cell mdl-cell--8-col bc-no-margin">
                       <img class="bc-accom-img-main-left" src="{% static 'images/copenhagen3.jpg' %}" alt="">
                      </div>

                <div class="mdl-cell mdl-cell--4-col bc-no-margin">
                  <div class="mdl-grid">
                    <img class="bc-accom-img-side-right-top" src="{% static 'images/copenhagen-downtown-hostel.jpg' %}" alt="">
                  </div>

                    <div class="mdl-grid">
                    <img class="bc-accom-img-side-right-bottom" src="{% static 'images/copenhagen2.jpg' %}" alt="">
                  </div>
               </div>
             </div>   <!-- End Left Accommodations -->

              <!-- Right Accommodations -->
           <div class="mdl-grid mdl-cell--hide-phone mdl-cell--hide-tablet">
              <div class="mdl-cell mdl-cell--4-col bc-no-margin">
                    <div class="mdl-grid">
                    <img class="bc-accom-img-side-left-top" src="{% static 'images/berlin3.jpg' %}" alt="">
                    </div>

                  <div class="mdl-grid">
                    <img class="bc-accom-img-side-left-bottom" src="{% static 'images/berlin2.jpg' %}" alt="">
                  </div>
              </div>

            <div class="mdl-cell mdl-cell--8-col bc-no-margin">
                <img class="bc-accom-img-main-right" src="{% static 'images/berlin.jpg' %}" alt="">
            </div>
           </div> <!-- Right Accommodations -->


           <!-- Left Accommodations -->
          <div class="mdl-grid mdl-cell--hide-phone mdl-cell--hide-tablet">
                <div class="mdl-cell mdl-cell--8-col bc-no-margin">
                  <img class="bc-accom-img-main-left" src="{% static 'images/hotel-allure.jpg' %}" alt="">
                 </div>

           <div class="mdl-cell mdl-cell--4-col bc-no-margin">
             <div class="mdl-grid">
               <img class="bc-accom-img-side-right-top" src="{% static 'images/amsterdam3.jpg' %}" alt="">
             </div>

               <div class="mdl-grid">
               <img class="bc-accom-img-side-right-bottom" src="{% static 'images/amsterdam2.jpg' %}" alt="">
             </div>
          </div>
        </div>

        <!-- Right Accommodations -->
     <div class="mdl-grid mdl-cell--hide-phone mdl-cell--hide-tablet">
        <div class="mdl-cell mdl-cell--4-col bc-no-margin">
              <div class="mdl-grid">
              <img class="bc-accom-img-side-left-top" src="{% static 'images/Garden-house.jpg' %}" alt="">
              </div>

            <div class="mdl-grid">
              <img class="bc-accom-img-side-left-bottom" src="{% static 'images/Garden-house3.jpg' %}" alt="">
            </div>
        </div>

      <div class="mdl-cell mdl-cell--8-col bc-no-margin">
          <img class="bc-accom-img-main-right" src="{% static 'images/Garden-house2.jpg' %}" alt="">
      </div>
     </div> <!-- Right Accommodations -->

     <!-- Left Accommodations -->
    <div class="mdl-grid mdl-cell--hide-phone mdl-cell--hide-tablet">
          <div class="mdl-cell mdl-cell--8-col bc-no-margin">
            <img class="bc-accom-img-main-left" src="{% static 'images/africa.jpg' %}" alt="">
           </div>

     <div class="mdl-cell mdl-cell--4-col bc-no-margin">
       <div class="mdl-grid">
         <img class="bc-accom-img-side-right-top" src="{% static 'images/africa3.jpg' %}" alt="">
       </div>

         <div class="mdl-grid">
         <img class="bc-accom-img-side-right-bottom" src="{% static 'images/africa2.jpg' %}" alt="">
       </div>
    </div>
  </div>

<!-- Mobile Tablet -->
<div class="mdl-grid mdl-cell--hide-desktop">
  <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--hide-desktop">
    <img class="bc-standard-img" src="{% static 'images/copenhagen3.jpg' %}" alt="">
   </div>
   <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--hide-desktop">
       <img class="bc-standard-img" src="{% static 'images/berlin.jpg' %}" alt="">
   </div>
   <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--hide-desktop">
     <img class="bc-standard-img" src="{% static 'images/hotel-allure.jpg' %}" alt="">
   </div>
    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--hide-desktop">
        <img class="bc-standard-img" src="{% static 'images/Garden-house2.jpg' %}" alt="">
   </div>
    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--hide-desktop">
      <img class="bc-standard-img" src="{% static 'images/africa.jpg' %}" alt="">
    </div>
</div>


{% endblock %}
