{% extends 'base.html' %}

{% load static %}

{% block head_title %}- Signup{% endblock %}

{% block content %}

     <div class="mdl-grid bc-site-grey-background bc-spacer">
         <div class="mdl-layout-spacer">  </div>
     </div>
     <!-- Inner Grid  -->

     <div class="mdl-grid bc-site-grey-background">
       <div class="mdl-layout-spacer">  </div>
       <div class="mdl-cell mdl-cell--5-col mdl-shadow--2dp bc-about-pages-template-background">

            <!-- Section 1 Mission  -->
         <div class="mdl-grid">
           <div class="mdl-cell mdl-cell--12-col">
             <h4 class="bc-about-pages-title bc-text-center">- Sign up! -</h4>
         </div>

         <div>
                    {% if error %}
                        {{ error }}
                    {% endif %}
                </div>

         <div class="mdl-grid">
           <div class="mdl-layout-spacer">  </div>
           <div class="mdl-cell mdl-cell--9-col">
             <form id="signup" method="POST" action="{% url 'accounts:signup' %}">
                {% csrf_token %}
                <div class="mdl-grid">
                  <div class="mdl-cell mdl-cell--6-col">
                    <div class="mdl-textfield mdl-js-textfield">
                      <input class="mdl-textfield__input" type="text" name="firstname" />
                      <label class="mdl-textfield__label bc-about-pages-para" for="firstname">First name</label>
                    </div>
                  </div>
                  <div class="mdl-cell mdl-cell--6-col">
                    <div class="mdl-textfield mdl-js-textfield">
                      <input class="mdl-textfield__input" type="text" name="lastname" />
                      <label class="mdl-textfield__label bc-about-pages-para" for="lastname">Last name</label>
                    </div>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col">
               <div class="mdl-textfield mdl-js-textfield">
                 <input class="mdl-textfield__input" type="text" name="email"/>
                 <label class="mdl-textfield__label bc-about-pages-para" for="email">Email</label>
               </div>
                </div>
              <div class="mdl-cell mdl-cell--12-col">
               <div class="mdl-textfield mdl-js-textfield">
                 <input class="mdl-textfield__input" type="text" name="username" />
                 <label class="mdl-textfield__label bc-about-pages-para" for="username">Username</label>
               </div>
             </div>
             <div class="mdl-cell mdl-cell--12-col">
               <div class="mdl-textfield mdl-js-textfield">
                 <input class="mdl-textfield__input" type="password" name="password" />
                 <label class="mdl-textfield__label bc-about-pages-para" for="password">Password</label>
               </div>
             </div>
             <div class="mdl-cell mdl-cell--12-col">
               <div class="mdl-textfield mdl-js-textfield">
                 <input class="mdl-textfield__input" type="password" name="password2" />
                 <label class="mdl-textfield__label bc-about-pages-para" for="password2">Confirm Password</label>
               </div>
               <br>
               {% if error %}
               {{ error }}
               {% endif %}

             </div>


             </div>

               <div class="mdl-grid">
                  <div class="mdl-layout-spacer">  </div>
                   <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone">
                 <button type="submit" value="submit" name="signup" class="mdl-button mdl-js-button mdl-button--raised">
                   Sign up!
                 </button>
                  </div>
                  <div class="mdl-layout-spacer">  </div>
               </div>
             </form>

           </div>
           <div class="mdl-layout-spacer">  </div>
         </div>
     </div>


         <br><hr>

         <div class="mdl-grid">
           <div class="mdl-layout-spacer">  </div>
           <div class="mdl-cell mdl-cell--8-col">
             <h4 class='bc-about-pages-para'>Already Signed Up?<a class='bc-about-pages-para bc-nounderline bc-signup' href="{% url 'accounts:login' %}">Login here!</a></h4>
           </div>
           <div class="mdl-layout-spacer">  </div>
         </div>


       </div>
       <div class="mdl-layout-spacer">  </div>
     </div>  <!--End Inner Grid  -->

     <div class="mdl-grid bc-site-grey-background bc-spacer">
         <div class="mdl-layout-spacer">  </div>
     </div>



{% endblock %}
