{% extends 'base.html' %}
{% block head_title %}Frequently Asked Questions{% endblock %}
{% block description %}Frequently Asked Questions from Past Satisfied Customers.{% endblock %}


{% block content %}

{% load static %}



<!-- Inner Grid  -->
<div class="mdl-grid bc-site-grey-background">
  <div class="mdl-layout-spacer">  </div>
  <div class="mdl-cell mdl-cell--11-col bc-about-pages-template-background">

       <!-- Section 1 Mission  -->
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col">
        <h4 class="bc-terms-heading"><br><br><br><br>Frequently Asked Questions</h4>
      </div>
    </div>

    <!-- Section 2 info -->
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <h4 class="bc-terms-heading">GENERAL INFORMATION</h4>
        <h4 class="bc-terms-text">
          <strong>Who are your trips designed for?</strong>
          <br>Men and Women aged 21-35; who are craving adventure and the time of their lives.

          <br><br><strong>Can I go on a trip if I’m over 35? or under 21?</strong>
          <br>Under 21; definitely not. Liabilities, accommodations policies, etc… Many of our trips feature alcohol and we don't want to present this message to minors.
          <br>Over 35; European hostels are very strict about age limits in order to keep a youthful atmosphere. We also like this atmosphere for our trips.

          <br><br><strong>How strict are the itineraries?</strong>
          <br>The trips follow a general itinerary, but things are ultimately left up to the individual. This is not a school trip. We’re here to do what you WANT to do.

          <br><br><strong>What does “guided” mean?</strong>
          <br>The guides are basically advisors who are responsible for logistics. They know where the hostels are, the clubs, the travel details, make suggestions, and keep people safe… that’s it. No boring lectures, no dragging people to things you don't want to see, and things are ultimately left up to you.
          <br>Think of them as ‘that person in the group who handles all the work… so that everyone else can have fun’

          <br><br><strong>When is the latest I can sign up?</strong>
          <br>The latest you can sign-up is 60 days before the trip starts. However, the total price of the trip is subject to change as well as the availability. It is highly recommended you sign up as soon as possible to guaranteed a spot and the lowest possible price.

          <br><br><strong>What if I have to change my trip?</strong>
          <br>We charge a deposit when you sign up, which is used to immediately book your flights (to lock in pricing). This money is hard to get back (as airline companies are notoriously hard to negotiate with). However, if canceled within 2 days of booking we can fully refund your money.

          <br><br><strong>Can I extend my trip abroad?</strong>
          <br>Of Course! Just message us! We love and always support Backpacking, We can book a flight to a different location or just help with general suggestions. Either way we’re happy to work with you!

          <br><br><strong>What is the payment schedule?</strong>
          <br>The deposit is $200, to reserve the flights. After that, payments are broken into even monthly payments. The full amount has to be paid 60 days before the start of your trip.

          <br><br><strong>What if I can’t afford the Deposit?</strong>
          <br>Contact us and we’ll set-up a custom deposit & payment plan.

          <br><br><strong>Is my payment secure?</strong>
          <br>Yes. We use Paypal and Stripe for all payment processing.

          <br><br><strong>On the monthly payment plan, when will my card/account be charged?</strong>
          <br>The standard is on the 15th of every month, but just message us if you want it taken out on different days.

          <br><br><strong>When will I see my discount? Can an early sign-up discount be combined?</strong>
          <br>Discounts will be shown in each invoice.

          <br><br><strong>The name I entered is not exactly what’s printed on my passport. What should I do?</strong>
          <br>Contact us Immediately! Customs are extremely strict about passport control.

          <br><br><strong>Do I need a visa?</strong>
          <br>For Kilimanjaro, yes. This can be purchased upon arrival. So there’s no need to worry. For Europe, no visa is needed... however, things may change, we will always notify you of changes to your trip.

          <br><br><strong>Will I need any vaccinations?</strong>
          <br>While there is no “Need” to be vaccinated. For Africa, it is highly recommended. Check the <a href="https://www.cdc.gov/">Center for Disease Control</a> for more information.

          <br><br><strong>When will I get my flight and hotel information?</strong>
          <br>We will send all of the information by Email and will be updated on your account page, usually 2 months before your trip. You will be invited to the Facebook event Immediately, to see the others going.

          <br><br><strong>What should I pack?</strong>
          <br>Check out our <a href="{% url 'packing' %}">Gear List</a> for advice!

          <br><br><strong>Do people ever join the tours on their own?</strong>
          <br>Yes! This is actually encouraged. You won’t experience new things if you never leave your comfort zone.</h4>
 </div>
    </div>

    <!-- Section 3 Trips -->
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <h4 class="bc-terms-heading">TRIP INFORMATION</h4>
        <h4 class="bc-terms-text">
          <strong>What airlines does Black Crow use?</strong>
          <br>Major Airlines. Depending on the trip.

          <br><br><strong>How long will my flight be?</strong>
          <br>Depends on the trip. Check your itinerary. We always try to keep the flights as short as possible.

          <br><br><strong>What will my accommodations be like?</strong>
          <br>All <a href="{% url 'accom' %}">accommodations</a> are personally recommended. Most are boutique style party hostels; since they are always clean, safe, central, and have a wonderfully fun youth atmosphere. Places where you can actually meet people!

          <br><br><strong>How does rooming work?</strong>
          <br>For the most part, our group will be in one room. A 2-4 bed same sex room.
          <br>However, upon requested we can book a private room for an additional charge. Just contact us.

          <br><br><strong>Do I have to bring a pillow, sheets, or anything like that?</strong>
          <br>No. All Accommodations are fully furnished. However, a travel pillow is recommended for flights.

          <br><br><strong>Where do my flights leave from?</strong>
          <br>Flights can be purchased from a variation of locations. Use our form to find the most convenient location, book a 'land only' flight, or just contact us and we'll help!

          <br><br><strong>Is travel in the US ever an issue?</strong>
          <br>No. In our Facebook event, things are organized pretty quickly. For the most part, people are able to carpool or figure things out.

          <br><br><strong>How will we get from city to city?</strong>
          <br>Depends. Buses, ferries, flights, or trains. The cost of which is included in your trip.

          <br><br><strong>How much spending money will I need?</strong>
          <br>On our trips: we cover the flights, accommodations (Which usually includes a meal per day), transport between cities, and special event entrances. This leaves food, alcohol, souvenirs, tips (When applicable), and any other miscellaneous purchases. So “spending money” really depends on your general spending habits and what country you’re in. Scandinavia is notoriously more expensive than anywhere else on Earth (A beer costing $10 on average). Berlin is much cheaper…

          <br>We will, however, do everything we can to keep costs low (‘Pre-gaming’, happy hours, special events, etc…) When backpacking, it is advised to spend around $500 a week. However, on a party trip, you can easily spend Double/Triple that.

          <br>Over estimate, you can always make money at home. While away, make the most of it.

          <br><br><strong>What currency does my destination use? How do I exchange money?</strong>
          <br>Scandinavia – Is the Krona. Africa – is the Shilling. Europe – Euro.
          <br>Easiest way is just by using ATMs. Your bank automatically exchanges your money on market rates. Just <span class="bc-bold bc-underline">MAKE SURE TO CALL YOUR BANK</span>, to tell them you’re traveling! Otherwise, they might cancel your card.

          <br><br><strong>Can I use my cell phone while abroad? Should I bring my Laptop?</strong>
          <br>While it might be hard make a phone call, WIFI is everywhere.  Skype is free and works wonders. You can also use your phone for Snapchat, Instagram, maps, and much more…  bringing it is very useful. Just remember to turn off data.
          <br>Bringing a Laptop can be a burden. It’s heavy, a smart phone can easily do all the things you’ll want to do (Facebook, etc), and they can be stolen. You’re better off leaving it at home.

          <br><br><strong>What about Travel Insurance?</strong>
          <br>While we do support refunds and a satisfaction guarantee. We do not provide Travel Insurance for your personal items.

          <br>However, we find this is almost never an issue. Still, you can choose to purchase insurance here, or at any other company.
 </div>
    </div>

    <!-- Section 3 parents -->
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <h4 class="bc-terms-heading">FOR FRIENDS AND PARENTS</h4>
        <h4 class="bc-terms-text">
          <strong>How supervised are the tours?</strong>
          <br>Every group has a full-time professional guide. That being said, there are always days with “free time” designed to let people do what they want. They can choose to do what the guides and group are doing, or something else. Our groups are kept small so it’s easy for everyone to do everything together. However, opinions differ and we’re okay with that. We want you to be happy.

          <br><br><strong>Can my son/daughter do laundry during the trip?</strong>
          <br>Of Course! Almost all of our accommodations have laundry services.

          <br><br><strong>Will my child be flying with his/her friends?</strong>
          <br>If they booked at the same time, then yes. Even if booked later, it is still very likely that everyone will fly together. However, in extreme cases (late bookings), flights may end up being different. Regardless, a guide will meet you at the airport and everyone will be together on day 2.

          <br><br><strong>How do I contact my son/daughter during the tour?</strong>
          <br>While their own personal WIFI device is the best option. You can also <a href="mailto:admin@blackcrowtours.com">contact us</a> directly and we will relay the message.

          <br><br><strong>What if I my child gets sick or hurt during the trip?</strong>
          <br>Our guides know the best hospitals & medical centers assuming there's an emergency. This is extremely rare; though an occasional trip to the pharmacy might happen.

          <br><br><strong>How long has Black Crow Tours been in business?</strong>
          <br>Two years, but traveling/backpacking for way longer. For more details, read our <a href="{% url 'about' %}">about us</a> section.
</h4>
 </div>
    </div>

  </div>
  <div class="mdl-layout-spacer">  </div>
</div>  <!--End Inner Grid  -->

{% endblock %}
