{% extends 'base.html' %}
{% block head_title %}Gallery{% endblock %}
{% block description %}Travel and Adventure Photos Uploaded to our Instagram.{% endblock %}


{% block content %}

{% load static %}


     <!-- SnapWidget -->
     <script src="https://snapwidget.com/js/snapwidget.js"></script>
     <iframe src="https://snapwidget.com/embed/385965" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>


{% endblock %}
