{% extends 'base.html' %}
{% block head_title %}Thank you{% endblock %}
{% block content %}

{% load static %}



<!-- Home main video desktop -->
<div class="mdl-grid bc-thank-you-heroimage">
  <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--9-col mdl-cell--4-col-phone">

      <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
          <div class="mdl-cell mdl-cell--3-col mdl-cell--5-col-tablet">
            <br><br><br><br>
            <a href="#"><img class="bc-standard-img" src="{% static 'White.png' %}" alt=""></a>
          </div>
          <div class="mdl-layout-spacer"></div>
        </div>

        <div class="mdl-grid">
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-cell mdl-cell--7-col">
            <h4 class="bc-home-headlines bc-caps">Thank you for subscribing!</span></h4>

          </div>
          <div class="mdl-layout-spacer"></div>
        </div>

        <div class="mdl-grid">
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>

        <div class="mdl-grid">
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-cell mdl-cell--7-col">
            <h4 class="bc-home-subtitle2 bc-caps">Great things are to come...</span></h4>

          </div>
          <div class="mdl-layout-spacer"></div>
        </div>

</div>
<div class="mdl-layout-spacer"></div>
</div>


{% endblock %}
