{% extends 'base.html' %}
{% block head_title %}- Your Trips{% endblock %}
{% block content %}

{% load static %}

    <!-- hero -->
     <div class="mdl-grid bc-your-trips-hero">
       <div class="mdl-cell mdl-cell--12-col mdl-cell--middle">
         <h4 class="bc-your-trips-heading">WHERE BACKPACKING AND
           ADVENTURE MERGE.</h4>
           <br><br><br><br><br><br>
           <h4 class="bc-your-trips-subheading bc-text-center">Real backpacking expeditions in urban or outdoor areas.
            <br>Led by a team of hardcore outdoor travelers and mountaineers.
            <br>Groups never larger than 20 backpackers.</h4>
       </div>
     </div>

     <!-- trips -->
  <div class="mdl-grid bc-your-trips">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
       <!-- scan -->
       <div class="mdl-grid">
         <div class="mdl-layout-spacer"></div>
         <div class="mdl-cell mdl-cell--10-col">
           <a class="bc-nounderline" href="{% url 'scandinavia' %}">
           <div class="mdl-grid">
             <div class="mdl-cell mdl-cell--12-col bc-no-botmargin  bc-your-trips-image-border">
              <img class="bc-standard-img" src="{% static 'images\scan.jpg' %}" alt="">
            </div>
           </div>
           <div class="mdl-grid">

             <div class="mdl-cell mdl-cell--12-col bc-padding bc-no-topmargin bc-your-trips-text-back">
               <h4 class="bc-your-trips-text-title bc-text-center">Trek around magnificent Scandinavia</h4>
               <h4 class="bc-your-trips-text">
                  - Real backpacking expeditions in urban or outdoor areas.
                <br>- Led by a team of hardcore outdoor travelers and mountaineers.
                <br>- Groups never larger than 20 backpackers.</h4>
            </div>
           </div>
         </a>
         </div>
         <div class="mdl-layout-spacer"></div>
       </div>
   </div>  <!-- scan -->


   <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
      <!-- kili-->
      <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--10-col">
        <a class="bc-nounderline" href="{% url 'kilimanjaro' %}">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col bc-no-botmargin  bc-your-trips-image-border">
             <img class="bc-standard-img" src="{% static 'images\kili.jpg' %}" alt="">
           </div>
          </div>
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col bc-padding bc-no-topmargin bc-your-trips-text-back">
              <h4 class="bc-your-trips-text-title bc-text-center">See the Roof of africa!</h4>
              <h4 class="bc-your-trips-text">
                 - Real backpacking expeditions in urban or outdoor areas.
               <br>- Led by a team of hardcore outdoor travelers and mountaineers.
               <br>- Groups never larger than 20 backpackers.</h4>
           </div>
          </div>
        </a>
        </div>
        <div class="mdl-layout-spacer"></div>
      </div>
  </div>  <!-- scan -->

  </div>

{% endblock %}
