{% extends 'base.html' %}

{% load static %}

{% block head_title %}- Blog - {{ post.title }}{% endblock %}

{% block content %}

    <div class="mdl-grid bc-site-grey-background">
        <div class="mdl-layout-spacer"></div>

        <div class="mdl-cell mdl-cell--8-col">

            <div>
                <h1>{{ post.title }}</h1>
                <p>Date: {{ post.published_date|date:"d M Y" }}, Published by: <a
                        href="{% url 'accounts:public-home' pk=post.author.pk %}" target="_blank">{{ post.author }}</a>,
                    Category:
                    {% for category in post.category.all %}
                        {{ category }}
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                </p>
                <p>{{ post.text|safe }}</p>
            </div>

            <div class="mdl-cell mdl-cell--12-col">
                <div class="bc-social-share">
                    <div class="fb-share-button" data-href="{{ request.build_absolute_uri }}" data-layout="button"
                         data-size="large" data-mobile-iframe="true"></div>
                    <div class="fb-follow" data-href="https://www.facebook.com/Blackcrowtours" data-height="28"
                         data-layout="button" data-size="large" data-show-faces="false"></div>
                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ post.title }}"
                       data-size="large">
                        <link rel="me" href="https://twitter.com/blackcrowtours">
                        Tweet</a>
                    <a class="twitter-follow-button" href="https://twitter.com/blackcrowtours" data-size="large"
                       data-show-count="false">Follow @blackcrowtours</a>
                </div>

                <div id="disqus_thread"></div>
                <script>
                    var disqus_config = function () {
                        this.page.url = '{{ request.build_absolute_uri }}';
                        this.page.identifier = '{{ disqus_page_identifier }}';
                    };

                    (function () { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = '{{ disqus_embed_url }}';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                    powered by Disqus.</a></noscript>
            </div>
        </div>

        <div class="mdl-layout-spacer"></div>
    </div>

{% endblock %}
