{% extends 'base.html' %}

{% load static %}

{% block head_title %}- Create Blog Post{% endblock %}

{% block content %}

    <div class="mdl-grid bc-site-grey-background">
        <div class="mdl-layout-spacer"></div>

        <div class="mdl-cell mdl-cell--9-col mdl-shadow--2dp bc-about-pages-template-background">

            <!-- Section 1 Mission  -->
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <h4 class="bc-about-pages-title bc-text-center">- Create Blog Post -</h4>
                </div>


                {% if form.non_field_errors %}
                    <div class="mdl-cell mdl-cell--12-col">
                        <div class="bc-form-errors-alert" style="width: 100%;">{{ form.non_field_errors }}</div>
                    </div>
                {% endif %}


                <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-grid">
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-cell mdl-cell--10-col">
                            <form method="POST">
                                {% csrf_token %}

                                {% if form.title.errors %}
                                    <span class="bc-form-errors-alert"
                                          style="width: 100%">{{ form.title.errors }}</span>
                                {% endif %}

                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" name="title" id="id_title"
                                           style="width: 400px;"/>
                                    <label class="mdl-textfield__label bc-about-pages-para" for="id_title"
                                           style="width: 400px;">Title</label>
                                </div>

                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--3-col">
                                        Choose post category:
                                    </div>
                                    <div class="mdl-cell mdl-cell--9-col">
                                        <div class="bc-multi-select">
                                            {{ form.category }}
                                        </div>
                                    </div>
                                </div>

                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--12-col">
                                        {{ form.media }}
                                        {{ form.text }}
                                    </div>
                                    {% if form.text.errors %}
                                        <span class="bc-form-errors-alert"
                                              style="width: 100%">{{ form.text.errors }}</span>
                                    {% endif %}
                                </div>

                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--12-col bc-text-center">
                                        <button type="submit" value="submit" name="submit"
                                                class="mdl-button mdl-js-button mdl-button--raised">
                                            Send for approval
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </div>

            </div>

            <br>
            <hr>

        </div>

        <div class="mdl-layout-spacer"></div>
    </div>

{% endblock %}
