<html>
<head>
    <title>QuickBooks Private Area</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        if (window.opener) {
            window.opener.location.href = '/quickbooks/connected'
            window.close()
        }
    </script>
    <script>
        function apiCall() {
            $("#result").html('Loading...')
            $.get("/quickbooks/api-call", function (data) {
                $("#result").html(data)
            })
        }

        function revokeCall() {
            $("#result").html('Loading...')
            $.get("/quickbooks/disconnect", function (data) {
                $("#result").html(data)
            })
        }

        function refreshCall() {
            $("#result").html('Loading...')
            $.get("/quickbooks/refresh-token-call", function (data) {
                $("#result").html(JSON.stringify(data, null, 2))
            })
        }

        function discovery() {
            $("#result").html('Loading...')
            $.get("/quickbooks/discovery", function (data) {
                $("#result").html(JSON.stringify(data, null, 2))
            })
        }

    </script>
</head>
<body>
<a href="{% url 'index' %}">Home</a>
<p>Welcome {{ request.user.first_name }}!</p>
<p>Short instruction:<br><br>
    1) Make test API call - make test request and try to get your company info<br><br>
    2) Update tokens - you can manually update your access/refresh tokens<br><br>
    3) Revoke tokens - this will revoke (delete) your access and refresh tokens. BE CAREFUL! After revoking you will
    need to allow access to your QuickBooks account again. Little remainder: you can do that <a
            href="{% url 'index' %}">here</a><br><br>
    4) Get latest discovery document - you can manually update QuickBooks discovery document, if think you have an old
    data in your db. Anyway this doc automatically updated each 12h. </p>
<div>
    <button onclick="apiCall()">Make test API call</button>
    <button onclick="refreshCall()">Update tokens</button>
    <button onclick="revokeCall()">Revoke (delete) tokens</button>
    <button onclick="discovery()">Get latest discovery document</button>
    <br><br>
    <div><code id="result"></code></div>
</div>
</body>
</html>